@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="right_col mt-0" role="main"> </div>
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tiene autorizacion para ver la pagina</p>
</header>
